
<div class="sidebar-wrapper" style="background-color:midnightblue; text-align:center ">
    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/event.jpg" alt="">
            </div>
            Event Design
        </a>
    </div>
  
    <img class="avatar border-white img-circle" src={{da}} alt="..." style="height:80px; margin-top:10px;"/>
    <p style="color:white" (click)="ngOnInit()">ahmed</p>
    <!-- <div class="card card-user" style="height:80px">
        
        <div class="content">
            <div class="author">
              
              <h4 class="title">Chet Faker<br />
                 <a href="#"><small>@chetfaker</small></a>
              </h4>
            </div>
          
        </div>
        <hr>
        
    </div> -->
    <ul class="nav">
        
        <!-- <li >
            <a (click)="signInWithGooglePlus()">
                <i class="ti-panel"></i>
                <p>Login with google plus</p>
            </a>
        </li>
        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="ti-bell"></i>
                    <p class="notification">5</p>
                    <p>Notifications</p>
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a  (click)="te()">Notification 1</a></li>
                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li>
              </ul>
        </li>
        <li>
            <a href="#">
                <i class="ti-settings"></i>
                <p>Settings</p>
            </a>
        </li> -->
        <!-- <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}" >
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>

           
        </li>
        <li>
            <a (click)="SignOut()">
                <i ></i>
                <p>تسجيل خروج</p>
            </a>

        </li> -->
    </ul>

</div>
