      <div class="container-fluid">
          
          <div class="row" style="text-align:center">
              <div class="col-md-6 col-md-offset-3">
                  <div class="card" style="color:black">
                      <div class="content">
                    <form #form="ngForm" (ngSubmit)="AddRequest(city,advplace,advtype,startdate,finishdate,radiovisit,radiocall,radioemail)">
                              
                <div class="form-group" >
                    <label for="validationDefault03" >المدينة</label>
                  <select #city style="width:100%; height:30px;" >
                     
                    <option  *ngFor="let res of resualt;">{{res.cityname}}</option>
                   
                  </select>
                  </div>
                  <div class="form-group" >
                      <label for="validationDefault03" >بيئة الاعلان</label>
                    <select #advplace style="width:100%; height:30px;" >
                      <option>داخلي</option>
                      <option>خارجي</option>
                      <option>داخلي وخارجي</option>
                    </select>
                    </div>
                    <div class="form-group" >
                        <label for="validationDefault03" >نوع الاعلان</label>
                      <select #advtype style="width:100%; height:30px;"  >
                        <option>فيديو</option>
                        <option>ثابت</option>
                        
                      </select>
                      </div>


                      <div class="form-group"> <!-- Date input -->
                        <label for="validationDefault03" >تاريخ بداية الاعلان</label>
                        <input #startdate  type="date" style="width:100%; height:30px;"  >
                        
                      </div>

                      <div class="form-group"> <!-- Date input -->
                        <label for="validationDefault03" >تاريخ نهاية الاعلان</label>
                        <input #finishdate type="date" style="width:100%; height:30px;"  >
                        
                      </div>
                       
                      <div class="form-group"> <!-- Date input -->
                        <label for="validationDefault03" style="color:red" >تقديم الطلب هو بمثابة طلب تسعيرة فرجاء اختيار كيفية التواصل للحصول على التسيعرة</label>
                       
                        <div class="funkyradio">
                        
                            <div class="funkyradio-success">
                                <input type="radio" name="radio" #radiovisit id="radio3" />
                                <label  for="radio3">زيارة من مندوبنا</label>
                            </div>
                            <div class="funkyradio-danger">
                                <input type="radio" name="radio" #radiocall id="radio4" />
                                <label for="radio4">اتصال</label>
                            </div>
                            <div class="funkyradio-warning">
                                <input type="radio" name="radio" #radioemail id="radio5" />
                                <label for="radio5">بريد الكتروني</label>
                            </div>
                       
                        </div>
                      </div>   
                                      <button type="submit"  class="btn btn-primary">تقديم الطلب</button>
                                    </form>
                      </div>
                  </div>
              </div>
              
          </div>
      
      