<div class="container-fluid">
  <div class="row">
 
      
      <div class="tab_container">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1" style="background:midnightblue;"><i class="fa fa-pencil-square-o"></i><span>الطلبات المرسلة </span></label>
  
        <input id="tab2" type="radio" name="tabs">
        <label for="tab2" style="background: #F2610B;"><i class="fa fa-pencil-square-o"></i><span>المرسل اليها عرض سعر</span></label>
  
        <input id="tab3" type="radio" name="tabs">
        <label for="tab3" style="background: midnightblue;"><i class="fa fa-bar-chart-o"></i><span>الطلبات المدفوعه</span></label>
  
        
        <section id="content1" class="tab-content">
         
            <div *ngFor="let req of userrequestesWaiting" class="card" >
                
           
          <h1  class="head text-center">بيانات الشركة</h1>
          <p class=" text-center">
<p class=" text-center">{{req.CompanyName}} : اسم الشركة </p>
<p class=" text-center">{{req.CompanyAddress}} : عنوان الشركة </p>
<p class=" text-center">{{req.CompanyType}} : نشاط الشركة </p>
<p class=" text-center">{{req.Email}} : البريد الالكتروني </p>
<p class=" text-center">{{req.PhoneNum}} : رقم الجوال للتواصل </p>
<hr>
<h1 class=" text-center">  بيانات الاعلان المطلوب</h1>
          <p class=" text-center">
              المدينة : {{req.City}}
               </p>
      <p class=" text-center">
       بيئة الاعلان : {{req.Advplace}}
      </p>
      <p class=" text-center">
            نوع الاعلان : {{req.AdvType}}
           </p>
           <p class=" text-center">
                تاريخ بداية الاعلان : {{req.StartDate}}
               </p>
               <p class=" text-center">
                    تاريخ نهاية الاعلان : {{req.FinishDate}}
                   </p>
                                              <p class="text-center">
                                        <a  (click)="UpdateRquestToAccepted(req._id.$oid)" class="btn btn-success btn-outline-rounded green">تم ارسال عرض السعر <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                                    </p> </div>
        
        </section>
  
        <section id="content2" class="tab-content">
            <div *ngFor="let req of userrequestesAccepted" class="card">
                
           
          <h1  class="head text-center">بيانات الشركة</h1>
          <p class=" text-center">
<p class=" text-center">{{req.CompanyName}} : اسم الشركة </p>
<p class=" text-center">{{req.CompanyAddress}} : عنوان الشركة </p>
<p class=" text-center">{{req.CompanyType}} : نشاط الشركة </p>
<p class=" text-center">{{req.Email}} : البريد الالكتروني </p>
<p class=" text-center">{{req.PhoneNum}} : رقم الجوال للتواصل </p>
<hr>
<h1 class=" text-center">  بيانات الاعلان المطلوب</h1>
          <p class=" text-center">
              المدينة : {{req.City}}
               </p>
      <p class=" text-center">
       بيئة الاعلان : {{req.Advplace}}
      </p>
      <p class=" text-center">
            نوع الاعلان : {{req.AdvType}}
           </p>
           <p class=" text-center">
                تاريخ بداية الاعلان : {{req.StartDate}}
               </p>
               <p class=" text-center">
                    تاريخ نهاية الاعلان : {{req.FinishDate}}
                   </p>
                                              <p class="text-center">
                                    </p> </div>
        
        </section>
  
        <section id="content3" class="tab-content">
            <div *ngFor="let req of userrequestesPaid" class="card">
                
           
          <h1  class="head text-center">بيانات الشركة</h1>
          <p class=" text-center">
<p class=" text-center">{{req.CompanyName}} : اسم الشركة </p>
<p class=" text-center">{{req.CompanyAddress}} : عنوان الشركة </p>
<p class=" text-center">{{req.CompanyType}} : نشاط الشركة </p>
<p class=" text-center">{{req.Email}} : البريد الالكتروني </p>
<p class=" text-center">{{req.PhoneNum}} : رقم الجوال للتواصل </p>
<hr>
<h1 class=" text-center">  بيانات الاعلان المطلوب</h1>
          <p class=" text-center">
              المدينة : {{req.City}}
               </p>
      <p class=" text-center">
       بيئة الاعلان : {{req.Advplace}}
      </p>
      <p class=" text-center">
            نوع الاعلان : {{req.AdvType}}
           </p>
           <p class=" text-center">
                تاريخ بداية الاعلان : {{req.StartDate}}
               </p>
               <p class=" text-center">
                    تاريخ نهاية الاعلان : {{req.FinishDate}}
                   </p>
                                              <p class="text-center">
                                    </p> </div>
        
        </section>
  
     
  
      </div>




</div>

</div>
